@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 25px;
  border: 6px solid var(--primary-color);
}

:root {
  --primary-color: #181818;
  --secondary-color: #5f605b;

  --font-color: #a0a0a0;
  --font2-color: #eee;
  --font3-color: #aaa;
}

body {
  background-color: var(--primary-color);
}

h1, 
h2,
h3,
h4,
p {
  font-family: 'Courier New', Courier, monospace;
}
/*********************************** Parallax Container ***********************************/



.parallax-con1 {
  background-position: center;
}

.parallax-con2 {
  background-position: center;
}

.parallax-con3 {
  background-image: url('https://images.pexels.com/photos/5668858/pexels-photo-5668858.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  filter: blur(5px);
  filter: grayscale(100%) brightness(45%);

}

.parallax-con4 {
  background-position: center;
}
 

/*********************************** Hero ***********************************/
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hero {
  padding: 7em 4em;
  margin: 4em 0;
}

/* .hero .toShow{
  opacity: 1;
} */

.toHide {
  opacity: 0;
}

.hero .hero__title-desc {
  color: var(--font3-color);
  font-size: 1.2rem;
  font-weight: 300;
  position: relative;

  animation: fadeIn forwards ease-in-out 1.5s;

}

.hero .hero__title {
  color: var(--font2-color);
  font-size: 2.5rem;
  position: relative;
  top: -95px;
  opacity: 0;

  margin: .2em 0;

  
  animation: fadeInTitle forwards ease-in-out 1.5s;
  animation-delay: 1.8s;
}

hr {
  width: 50%;
  border: 1px solid #00d1f7;
  position: relative;
  top: -90px;

  animation: fadeInHr ease-in-out 1.5s;
}

.hero .hero__subtitle {
  color: var(--font-color);
  font-size: 1rem;
  letter-spacing: .4em;
  position: relative;
  top: -85px;
  opacity: 0;

  margin: .6em 0;

  animation: fadeInTitle forwards ease-in-out 1.5s;
  animation-delay: 2.8s;
}

.hero .scrollDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 3.5em;
}

.hero .scrollDown > img {
  width: 35px;
  opacity: 0;
}
.hero .scrollDown > img:nth-child(1) {
  margin-bottom: -1.3em;


  animation: scrollDown forwards ease-in-out 1s infinite;
  animation-delay: 3.8s;
}
.hero .scrollDown > img:nth-child(2) {
  margin-bottom: -1.3em;


  animation: scrollDown forwards ease-in-out 1s infinite;
  animation-delay: 4.8s;
}
.hero .scrollDown > img:nth-child(3) {

  animation: scrollDown forwards ease-in-out 1s infinite;
  animation-delay: 5.8s;
}

/*********************************** About ***********************************/


.about {
  padding: 7em 4em;
  
}
.about .about__title-con {
  width: 35vw;
  margin-bottom: 1.5em;
  padding-left: -1em;
  background-color: #674a46;
  

  white-space: nowrap;  
}
.about .about__title-con .about__title {
  font-size: 1.5rem;
  color: var(--font2-color);
  position: relative;
  top: -11px;
  margin-left: -.3em;

  text-shadow: .3em .3em .3em var(--primary-color) ;
}

.about .about__content {
  padding: 2em 0;
}

.about .about__content p {
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--font2-color);

}
.about .about__content em:nth-child(1) {
  color: orangered;
  font-family: altivo;
  font-weight: 600;
}
.about .about__content em:nth-child(2) {
  color: #2862e9;
  font-family: altivo;
  font-weight: 600;
}
.about .about__content em:nth-child(3) {
  color: #00d1f7;
  font-family: altivo;
  font-weight: 300;
}
.about .about__content em:nth-child(4) {
  color: #e9d44d;
  font-family: altivo;
  font-weight: 600;
}



/*********************************** Educatiom ***********************************/

.education {
  padding: 7em 4em;
}

.education .education__title-con {
  width: 39vw;
  background: #deba48;
  margin-bottom: 1.5em;
  padding-left: .1em;

  white-space: nowrap;
}

.education .education__title {
  font-size: 1.5rem;
  color: var(--font2-color);
  position: relative;
  top: -11px;
  margin-left: -.3em;

  text-shadow: .3em .3em .3em var(--primary-color) ;
}

.education .education__content {
  padding: 2em 0;
  text-align: left ;
}

.education .education__content > img {
  width: 240px;
  padding-bottom: 1em;
}

.education .education__content > p {
  font-size: 1.2rem;
  color: var(--font2-color);
  padding-bottom: .2em;  
}

.education .education__content-title {

  font-size: 1.2rem;
  color: var(--font2-color);

  padding-bottom: 1em;
}

/*********************************** Soft Skills ***********************************/

.softSkills {
  padding: 7em 4em;
}

.softSkills .softSkills__title-con{
  width: 47vw;
  margin-bottom: 1.5em;
  padding-left: .1em ;
  background: #badfbd;
}

.softSkills .softSkills__title { 
  font-size: 1.5rem;
  color: var(--font2-color);
  position: relative;
  top: -11px;
  margin-left: -.3em;
  
  text-shadow: .3em .3em .3em var(--primary-color) ;
}

.softSkills .softSkills__content {
  padding: 2em .5em ;
  
  font-weight: 500;
  color: var(--font2-color);
}

.softSkills .softSkills__content ul {
  display: grid;
  row-gap: 1em;
  align-items: center;
}

.softSkills .softSkills__content > ul > li {
  list-style: none;
  margin: 0 1em;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
.softSkills .softSkills__content > ul > li > img {
  width: 20px;
  background: transparent;
}

/*********************************** Skills ***********************************/

.skills {
  padding: 7em 4em;
}

.skills .skills__title-con {
  width: 26vw;
  margin-bottom: 1.5em;
  padding-left: .1em;
  background:  #c75011;
}

.skills .skills__title {
  font-size: 1.5rem;
  color: var(--font2-color);
  position: relative;
  top: -11px;
  margin-left: -.3em;
  
  text-shadow: .3em .3em .3em var(--primary-color) ;
}

.skills .skills__content {
  padding: 2em 1em;
}

.skills .skills__content ul {
  display: grid;
  row-gap: 1em;
  justify-content: center;
  align-items: center;
}

.skills .skills__content > ul > li {
  font-size: 1.2rem;
  list-style: none;

  padding-bottom: 1em;
}
.skills .skills__content > ul li > p {
  padding-top: .3em;
}

.skills .skills__content > ul li > img {
  width: 15px;
}

.skills .skills__content > ul li .node-img {
  width: 85px;
}
.skills .skills__content > ul li .react-img {
  width: 85px;
}

.skills .skills__content > ul li .html-img {
  width: 20px;
  position: relative;
  top: 5px;
}

.skills .skills__content > ul li .css-img {
  width: 20px;
  position: relative;
  top: 5px;
}

.skills .skills__content > ul li .js-img {
  width: 20px;
  position: relative;
  top: 5px;
}
.skills .skills__content > ul li .uiux-img {
  width: 80px;
  margin-bottom: -.5em;
}

.skills .skills__content > ul > li p, span {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  letter-spacing: .2em;
}

.skills .skills__content > ul > li:nth-child(1) {
  color: orangered;
  font-family: altivo;
  font-weight: 600;
  position: realtive;
}
.skills .skills__content > ul > li:nth-child(1) > p {
  color: var(--font3-color);
}
.skills .skills__content > ul > li:nth-child(1) > p > span {
  color: orangered;
}

.skills .skills__content > ul > li:nth-child(2) {
  color: #2862e9;
  font-family: altivo;
  font-weight: 600;
}
.skills .skills__content > ul > li:nth-child(2) > p {
  color: var(--font3-color);
}
.skills .skills__content > ul > li:nth-child(2) > p > span {
  color: #2862e9;
}

.skills .skills__content > ul > li:nth-child(3) {
  color: #e9d44d;
  font-family: altivo;
  font-weight: 600;
}
.skills .skills__content > ul > li:nth-child(3) > p{
  color: var(--font3-color);
}
.skills .skills__content > ul > li:nth-child(3) > p > span {
  color: #e9d44d;
}

.skills .skills__content > ul > li:nth-child(4) {
  color: var(--font2-color);
  font-family: poppins;
  font-weight: 700;
}
.skills .skills__content > ul > li:nth-child(4) > p {
  color: var(--font3-color);
}
.skills .skills__content > ul > li:nth-child(4) > p > span {
  color: #000;
}

.skills .skills__content > ul > li:nth-child(5) {
  color: var(--font2-color);
  font-family: poppins;
  font-weight: 700;
}
.skills .skills__content > ul > li:nth-child(5) > p {
  color: var(--font3-color);
}
.skills .skills__content > ul > li:nth-child(5) > p > span {
  color: pink;
}

.skills .skills__content > ul > li:nth-child(6) {
  color: #00d1f7;
  font-family: altivo;
  font-weight: 300;
}
.skills .skills__content > ul > li:nth-child(6) > p {
  color: var(--font3-color);
}
.skills .skills__content > ul > li:nth-child(6) > p > span {
  color: #00d1f7;
}

.skills .skills__content > ul > li:nth-child(7) > p {
  color: var(--font3-color);
}
.skills .skills__content > ul > li:nth-child(7) > p > span {
  color: #7fc728;
}

/*********************************** Contact ***********************************/
.work {
  padding: 0 4em;
}

.work .work__title-con {
  width: 30vw;
  margin-bottom: 1.5em;
  padding-left: .1em;
  background: #00d1f7;
}

.work .work__title {
  font-size: 1.5rem;
  color: var(--font2-color);
  margin-left: -.3em;
  position: relative;
  top: -11px;

  text-shadow: .3em .3em .3em var(--primary-color) ;
}

.work .work__container {
 display: grid;
 column-gap: .1em;
 justify-content: center;
 align-items: center;
 padding: 1em 0;
 position: relative;
 top: -14px;
}

.work .work__content {
  margin: .2em;
  padding: 0;
}

.work .work__item-con {
  min-height: 40vh;
  width: 65vw;
  padding: 1.5em;
  margin: 1em 0;
  color: var(--font3-color);
  transition:  transform ease-in-out .5s, box-shadow ease-in-out .4s ;


  background-color: #202020;
  box-shadow: 
  0 2.8px 2.2px rgba(0, 209, 247, 0.034),
  0 6.7px 5.3px rgba(0, 209, 247, 0.048),
  0 12.5px 10px rgba(0, 209, 247, 0.06),
  0 22.3px 17.9px rgba(0, 209, 247, 0.072),
  0 41.8px 33.4px rgba(0, 209, 247, 0.086),
  0 100px 80px rgba(0, 209, 247, 0.12);
}
.work .work__item-con:hover {
  transform: scale(1.1);
  box-shadow: none;
}

.work .work__item-con .work__item-title {
  font-size: 1.2rem;
  font-family: poppins;
  font-weight: 500;
  margin: .5em 0;
}
.work .work__item-con div {
  margin: -1.5em 0;
  margin-bottom: 1em;
  width: 65vw;
  height: 20vh;
  background-size: cover;
  position: relative;
  right: 24px;
}
.work .work__item-title span {
  font-size: 1.2rem;
  font-family: poppins;
  font-weight: 500;
  color: goldenrod;
  letter-spacing: 0;
}

.work .work__item-con .work__item-desc {
  font-size: 1rem;
  text-align: left;
  position:relative;
}

/*********************************** Contact ***********************************/
.contact {
  padding: 7em 4em;
}

.contact .contact__content {
  padding: 2em 0;
  display: grid;
  row-gap: 1em;
  justify-content: center;
}

.contact .contact__title-con {
  width: 30vw;
  margin-bottom: 1.5em;
  padding-left: .1em;
  background: var(--secondary-color);
}

.contact .contact__title {
  font-size: 1.5rem;
  color: var(--font2-color);
  margin-left: -.3em;
  position: relative;
  top: -11px;

  text-shadow: .3em .3em .3em var(--primary-color) ;
}

.contact .contact__number,
.contact .contact__gmail,
.contact .contact__linkedin,
.contact .contact__facebook,
.contact .contact__twitter {
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--font2-color);

  padding-bottom: .5em;
}

.contact .contact__number >  h4 > img {
  width: 25px;
  position: relative;
  top: 6px;
}
.contact .contact__gmail >  h4 > img {
  width: 23px;
  position: relative;
  top: 6px;
  left: 3px;
}

.contact .contact__linkedin >  h4 > img {
  width: 27px;
  position: relative;
  top: 8px;
}
.contact .contact__facebook>  h4 > img {
  width: 27px;
  position: relative;
  top: 8px;
}
.contact .contact__twitter >  h4 > img {
  width: 27px;
  position: relative;
  top: 8px;
}

.contact .contact__cv > div > a {
  color: var(--font3-colo);
}
.contact .contact__cv > div {
  margin: .1em auto;
  background: var(--font-color);
  padding: .6em 3em;
  border: none;
  cursor: pointer;
  transition: all ease-in-out .6s;
  text-align: center;

  box-shadow: 0;
}

.contact .contact__cv > div:hover {
  color: #00d1f7;
  background: var(--primary-color);
  box-shadow: 
  0 2.8px 2.2px rgba(0, 209, 247, 0.034),
  0 6.7px 5.3px rgba(0, 209, 247, 0.048),
  0 12.5px 10px rgba(0, 209, 247, 0.06),
  0 22.3px 17.9px rgba(0, 209, 247, 0.072),
  0 41.8px 33.4px rgba(0, 209, 247, 0.086),
  0 100px 80px rgba(0, 209, 247, 0.12);
}

/*********************************** Responsive ***********************************/

@media screen and (min-width:900px) {
  .hero .hero__title-desc{
    font-size: 2.2rem;
  }
  .hero .hero__title{
    font-size: 3.5rem;
  }
  .hero .hero__subtitle{
    font-size: 1.8rem;
  }

  .about .about__content > p,
  .education .education__content h4,
  .education .education__content p{
    font-size: 1.2rem;
  }
  .about,
  .education,
  .softSkills,
  .skills,
  .contact,
  .work  {
    margin: 9em 8em;
    padding: 0 4em;
  }

  .about__content,
  .education__content,
  .softSkills__content,
  .skills__content,
  .contact__content,
  .work__content {
    margin: 5em 2em;
  }

.softSkills .softSkills__content > ul {
  grid-template-columns:  1fr 1fr 1fr;
}

.skills .skills__content > ul {
  grid-template-columns: 1fr 1fr 1fr;
}

.contact .contact__content {
  grid-template-columns: 1fr 1fr 1fr;
}

.work .work__container {
  grid-template-columns: 1fr 1fr 1fr;
}


  .work .work__title-con {
    width: 9vw;
  }
  .about .about__title-con { 
    width: 10vw;
  }
  .education .education__title-con {
    width: 11vw;
  }
  .education .education__content img{
    margin: 1.5em 0;
  }
  .softSkills .softSkills__title-con {
    width: 13vw;
  }
 .skills .skills__title-con {
    width: 7.5vw;
  }
  .contact .contact__title-con {
    width: 8.5vw;
  }

 .work  .work__item-con {
    width: 20vw;
  }
  .work .work__content {
    justify-content: start;
    
  }

  .work .work__container {
    padding: 0;
  }

  .work {
    margin-bottom: 30em;
  }

  .work .work__content .work__item-con {
    min-height: 55vh;
  }

  .work .work__content .work__item-con div {
    width: 20vw;
  }

  .work .work__content {
    padding: .9em 0;
    margin: .3em;  
  }

  .about .about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: flex-start;
  }

}


/*********************************** KeyFrames ***********************************/

@keyframes fadeIn {
  from{ 
    opacity:0;
    top: 110px;
  }
  to{ 
    opacity:1;
    top: -90px;
  }
}

@keyframes fadeInTitle{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeInHr{
  0%{
    opacity: 0;
    transform: translateX(-200px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scrollDown{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}